* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
  background: #257ec1;
}

@font-face {
  font-family: 'CustomFont'; /* Nom de la police */
  src: url('../fonts/Enchanted\ Land.otf') format('opentype'); /* Chemin du fichier .otf */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont', sans-serif; /* Applique la police au titre <h1> */
}

audio {
  display: none;
}

#game_container {
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
}

.hero_container_easy {
  position: fixed;
  top: 67vh;
  left: 20vw;
  height: 15vh;
  width: auto;
  z-index: 5;
}

#special_move_indicator{
 position: absolute;
 top: 10vh;
 z-index: 2;
 color: red;
 left: 3vw;
 display: none;
}

#special_move_timer {
  position: absolute;
  top: 14vh;
  z-index: 100;
  color: red;
  left: 3vw;
  display: none;
}


#idle_timeout_container {
  position: absolute;
  left: 45vw;
  top: 20vh;
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: red;
  font-size: x-large;
  z-index: 100;
  display: none;
}

.hero_container_hard {
  --hero-img-height: 30vh;  
  --hero-img-height-to-width-ratio: 2;          
  /* Define a CSS variable for height */
  position: absolute;
  /*
  cinematic 1
  bottom: 18vh;
  width: 14%;
  */
  /*
  cinematic 2
  bottom: 12.5vh;
  width: 27vw;
  */
  /*
  normal
  bottom: 15.5vh;
  width: 31%;
  */
  bottom: 15.5vh;
  width: 30%;
  left: 20vw;
  height: auto;
  z-index: 3011;
  display: flex;
  justify-content: flex-start;
  opacity: 0.85;
}

/*
cinematic 1
*/

.cinematicHero {
  /*
  top: 68vh;
  */

  width: 18vw;
}


/*
cinematic 2
*/

/*
.cinematicHero {
  top: 69.75vh;
  height: 11.25vh;
}
*/


.enemy_container {
  position: fixed;
  bottom: 17.5vh;
  left: 120vw;
  height: 17vh;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.enemy_death_1_container {
  height: 21.5vh;
  bottom: 21vh;
}

.enemy_death_2_container {
  bottom: 17vh;
  height: 28.5vh;
}

.hard_enemy_container {
  position: absolute;
  height: auto;
  bottom: 3vh;
  z-index: 2000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /*red hammer */
  top: 32.5vh;
  width: 96vw;
}

.enemy_container_jump_attack {
  left: -15vw !important;
}
.enemy_container_normal {
  left: 40vw;
}
.red_golem_container {
  left: 90vw;
}

#explosion_img_small {
  height: 120% !important;
  width: auto !important;
  position: absolute;
  left: 0;
  bottom: 0;
}
#explosion_img_big {
  height: 200% !important;
  width: auto !important;
  position: absolute;
  left: 0;
  bottom: 0;

}

.golem_master_container {
  position: absolute;
  bottom:-2.5vh;
  right: 0vw;
  height: 40vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11000;
}

.pike_man_container {
  position: absolute;
  bottom: -2.5vh;
  right: 0vw;
  height: 50vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11000;
}

.mountain_obelisk_container {
  position: absolute;
  left: 10vw;
  height: 35vh;
  width: 35vw;
  top: 38.25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11000;
  opacity: 0.85;
}

.elves_village_container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  bottom: -15%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 11000;
}

#elves_habitation {
  position: absolute;
  bottom: 7.5vh;
  left: 30%;
  height: 80% !important;
  width: auto !important;
  opacity: 0.98;

}

#elve_1 {
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 30% !important;
  width: auto !important;
}


.mountain_obelisk_container_full {
  top: 26.25vh;
  height: 59vh;
  left: 10vw;
}

.mountain_obelisk_container_cinematic {
  height: 57vh;
  top: 24.25vh;
  left: 0vw;
}

.golem_master_container img{
  height: 100%  !important ;
  width: auto  !important ;
}

.mountain_obelisk_container img{
  height: 86% !important;
  width: 35% !important;
}

#extended_form_container {
  position: absolute;
  left: 20%;
  top: 10%;
  height: 45%;
  width: 60%;
  background: rgb(182, 182, 182);
  z-index: 10000;
  border-radius: 15px;
  display: none;
  flex-direction: column;
}

#extended_form_container_a {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#extended_form_container_aa {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#extended_form_container_aaa {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.extended_form_container_aaaa {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}


#extended_form_container_aab {
  height: 20%;
  width: 100%;
  position: relative;
}

.extended_form_container_aaba {
  position: absolute;
  left: 0;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.extended_form_container_aabaa {
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
}

.extended_form_container_aabab {
  width: 40%;
  height: 50%;
  border-radius: 10px;
  border: none;
}

#close_button_container {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(168, 176, 167);
  height: 5%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#extended_form_container_b {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#extended_form_container_ba {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.extended_form_container_baa {
  height: 10%;
  aspect-ratio: 1/1;
  background: orange;
  border-radius: 50%;
  margin-left: 10px;
}


#extended_form_container_bb {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#extended_form_container_bba {
   height: 60%;
   width: 70%;
   background: #006c80;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: medium;
}


#quitChallenge {
  position: absolute;
   top: 88.5%;
   right: 2.5%;
   z-index: 1010;
   width: 10%;
   height: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.challengePillar {
  cursor: pointer;
}

.gradeBlock {
  position: absolute;
  right: 20px;
  top: 10px;
  color: green;
}

.enemyViewPoint {
  position: absolute;
  top: 50vh;
  left: 60vw;
  height: 25vh;
  width: 2.5vw;
  display: flex;
  z-index: 1003;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 1s ease, visibility 1s ease; /* Animate opacity over 1 second */
  opacity: 0;
}

.enemyViewPointTopDiv {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enemyViewPointTopDiv img {
  height: 100%;
  width: auto;
}

.enemyViewPointBottomDiv {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.enemyViewPointTile {
  height: 20%;
  width: 80%;
  background: rgba(40, 108, 204, 0.514);
  display: none;
}

#hero_container img {
    height: auto;
    width: 40%;
}

.hard_enemy_container img {
  height: auto;
  width: 85%;
}

.enemy_container img {
  height: 90%;
  width: auto;
}

#lifePointsContainer {
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 3;
  font-size: large;
  color: white;
  height: 10vh;
  width: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

#lifePointsContainer_a {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#lifePointsContainer_b {
  height: 20%;
  width: 100%;
}

#lifePointContainer_ba {
  font-size: small;
  display: flex;
  flex-direction: column;
}

.lifePointContainer {
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lifePointContainer img {
  height: 80%;
  width: auto;
}

#score {
  position: absolute;
  top: 2vh;
  left: 88vw;
  height: 10vh;
  width: 7vw;
  font-size: medium;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 1s ease, visibility 1s ease; /* Animate opacity over 1 second */
  opacity: 0;
  z-index: 1011;
}
#top_score_value {
  position: absolute;
  top: 9vh;
  left: 89.5vw;
  height: 10vh;
  width: 4vw;
  z-index: 1011;
  color: rgb(0, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease, visibility 1s ease; /* Animate opacity over 1 second */  
}

#top_score_value_a, #top_score_value_b{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top_score_value_b {
  font-size: x-large;
}
#top_score_value_a img{
  height: 17.5%;
  width: auto;
}

#score img {
  height: 70%;
  width: auto;
}

#score_value {
  font-size: x-large;
  color: cyan;
}

#answer_data_container {
  height: 12.5vh;
  width: 70vw;
  border-radius: 45px;
  background: #8080806b;
  position: absolute;
  left: 15vw;
  top: 86vh;
  z-index: 1020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding-right: 20px;
  padding-left: 10px;
  border: 1px solid #fff;
  padding: 9px 7px;
  box-shadow: 0 0 10px #aaa;
  transition: opacity 1s ease, visibility 1s ease; /* Animate opacity over 1 second */
  opacity: 0;
}

#answer_data_container div {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: xx-large;
  transition: opacity 0.45s ease, visibility 0.45s ease; /* Animate opacity over 1 second */
}

#answer_data_value {
  width: 80%;
}

#answer_data_container_left_logo_container {
  width: 20%;
  justify-content: flex-start;
  opacity: 0.3;
}

#answer_data_container_left_logo {
  height: 70%;
  width: auto;
}

#transformation_background {
  position: fixed;
  background: #121111;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1010;
  display: none;
}

#score_malus_container {
  position: absolute;
  top: 50vh;
  left: 60vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: large;
  color: red;
}

#score_reward_container {
  position: absolute;
  top: 50vh;
  left: 60vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: large;
  color: green;
}

#transformed_hero_bonus_reward_container {
  position: absolute;
  top: 20vh;
  left: 20vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: xx-large;
  color: red;
}

#sound_effect_img_container {
  position: absolute;
  top: 25%;
  left: 40%;
  height: 30vh;
  z-index: 20;
  display: none;
}

#sound_effect_img_container img {
  opacity: 0;
  height: 100%;
  width: auto;
}

@import url(https://fonts.googleapis.com/css?family=Akronim);

.fire {
  width: 80%;
  max-width: 1000px;
  height: 10vh;

  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: "Akronim";
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fire:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  position: absolute;
  top: 20%;
  left: 20%;
  display: inline-block;
  margin: 0;

  color: rgb(255, 115, 0);
  font-size: xx-large;
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;

  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

#bottomDiv {
  z-index: 1019;
  position: absolute;
  background: red;
  bottom: 0;
  left:0;
  height: 15%;
  width: 100%;
  display: flex;
  /*
  background: linear-gradient(to bottom, #253968, #2b3561, rgb(31 59 107));
  */
 /* background: #257ec1; */
 background: black;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}

#endOfGameInterface {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1004;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
#endOfGameInterface img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#endOfGameInterfaceScore {
  font-family: "Cinzel Decorative", cursive;
  position: absolute;
  font-size: 60px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 10%;
  color: rgb(78, 68, 12);
}

#leftMobileButton {
  position: fixed;
  left: 5vw;
  bottom: 2vh;
  height: 20vh;
  width: auto;
  z-index: 1002;
  display: none;
}

#rightMobileButton {
  position: fixed;
  right: 5vw;
  bottom: 2vh;
  height: 20vh;
  width: auto;
  z-index: 1002;
  display: none;
}

.controllerImg {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 1000px) {
  #leftMobileButton {
    position: fixed;
    left: 5vw;
    bottom: 2vh;
    height: 20vh;
    width: auto;
    z-index: 1002;
    display: none;
  }

  #rightMobileButton {
    position: fixed;
    right: 5vw;
    bottom: 2vh;
    height: 20vh;
    width: auto;
    z-index: 1002;
    display: none;
  }
}

#playAgainLink img {
  height: 100%;
  width: auto;
}

#characters_info_container {
  height: 15vh;
  width: 40vw;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 10vh;
  z-index: 100000;
}

#logo_container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#progress_bars_containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.progress {
  --progress: 0%;
  border-radius: 20px;
  height: 3.5vh;
  border: 1px solid #fff;
  padding: 9px 7px;
  box-shadow: 0 0 10px #aaa;
  z-index: 1002;
  display: flex;
}

.progress2 {
  top: 5vh;
  width: 20vw;
  --progress: 100%;
}

.progress1 {
  top: 10vh;
  width: 20vw;
  --progress: 5%;
}

#lifeBar {
  border-radius: 10px 10px 10px 10px;
}

#transformationBar {
  border-radius: 10px 0px 0px 10px;
}

#logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo_container img {
 height: 60%;
 width: auto;
}


.progress .bar {
  border-radius: 10px 10px 10px 10px ;
  width: var(--progress);
  height: 100%;
  animation: shine 4s ease-in infinite, end 1s ease-out 1;
  transition: width 3s ease;
}

.progress1 .bar {
  background: linear-gradient(gold, #c85, gold);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
}

.progress2 .bar {
  background: linear-gradient(rgb(0, 255, 47), rgb(85, 204, 133), rgb(0, 255, 47));
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px rgb(0, 255, 115);
}

#playAgainLink {
  height: 10vh;
  width: 10vw;
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px;
  border: solid 3px gray;
}

#challengesuccessButton {
  height: 10vh;
  width: 10vw;
  position: absolute;
  bottom: 5vh;
  right: 10vw;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px;
  border: solid 3px gray;
  display: none;
}

.endOfGameButton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(204, 201, 201);
  font-weight: bold;
  cursor: pointer;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.woodButtonBackground {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#sword_slash {
  position: absolute;
  top: 0;
  right:0;
  display: none;
}

#lightning_img {
  position: absolute;
  left: 0;
  top: 10%;
  display: none;
  height: 100% !important;
  width: auto !important;
  opacity: 0;
}

.main{
  width:100%;
  height:100%;
  border:1px solid #CCC;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  margin:auto;
  border-radius:50%; 
}

.circle{
  width:10px;
  height:10px;
  background:cyan;
  border-radius:50%;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  overflow:hidden;
  margin:auto;
  animation: circle 6s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-45px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
      translate(-45px)
      rotate(-360deg);
  }
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map_container {
  position: absolute;
   top: 88.5%;
   left: 2.5%;
   z-index: 1020;
   width: 10%;
   height: 10%;
   display: none;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
}

#dragon_container {
  height: 2%;
  width: 10%;
  z-index: 2000;
  position: absolute;
  left: 120%;
  top: 5%;
  opacity: 0.65;
}

#dragon_container img {
  height: 100%;
  width: auto;
}

.mountain_god_container {
  right: 35vw;
  top: 26vh;
  height: 72.5vh;
  width: 19vw;
  position: absolute;
  z-index: 3000;
}

.mountain_god_container_fight {
  position: absolute;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 90vw;
  top: 47.5vh;
  height: 44.25vh;
}

.previously_hurt_moutain_god {
  left: 30vw;
}

.mountain_god_container img, .mountain_god_container_fight img {
  height: 100%;
  width: auto;
}

#location_description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: white;
  width: 30%;
  height: 100%;
  opacity: 0.5;
}

#location_logo_container {
   width: 40%;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: 2px solid rgba(0, 200, 255, 0.39);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4d4c4c52;
  }
  .arrow {
    position: relative;
    width: 50%;
    aspect-ratio: 1/1.3;
    background-color: rgb(0, 165, 248);
    clip-path: polygon(50% 0%, 100% 100%, 50% 80%, 0% 100%);
    transform: rotate(90deg); /* Pour pointer vers le haut par défaut */
    animation: blink 2s infinite alternate;
  }
  
  /* Blinking animation */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  

  #map_container img {
    height: 80%;
    width: auto;
  }

  #end_of_challenge_container {
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 1010;
    width: 30%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease; /* Animate opacity over 1 second */
  }

.layer {
  position: absolute;
  width: 200%; /* Double the width to ensure seamless repetition */
  height: 100%;
  display: flex;
  background-size: contain;
  background-repeat: repeat-x; /* Repeats horizontally to avoid gaps */
  background-position: center;
  animation: scroll infinite linear;
}

#leftMobileButtonsContainer {
  position: absolute;
  z-index: 100000;
  left: 5%;
  bottom: 2vh;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(112, 112, 112, 0.171);
  border-radius: 15px;
  display: none;
}

#leftMobileButtonsContainer button, #rightMobileButtonsContainer button {
  height: 55%;
  width: 30%;
}

#rightMobileButtonsContainer {
  position: absolute;
  z-index: 100000;
  right: 5%;
  bottom: 2vh;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(112, 112, 112, 0.187);
  border-radius: 15px;
  display: none;

}

/* Layer images and scroll durations */
.layer-1 {
  background-image: url('backgrounds/1.png');
  animation-duration: 60s;
}

.layer-2 {
  background-image: url('backgrounds/2.png');
  animation-duration: 55s;
}

.layer-3 {
  background-image: url('backgrounds/3.png');
  animation-duration: 50s;
}

.layer-4 {
  background-image: url('backgrounds/4.png');
  animation-duration: 45s;
}

.layer-5 {
  background-image: url('backgrounds/5.png');
  animation-duration: 40s;
}

.layer-6 {
  background-image: url('backgrounds/6.png');
  animation-duration: 35s;
}

.layer-7 {
  background-image: url('backgrounds/7.png');
  animation-duration: 30s;
}

.layer-8 {
  background-image: url('backgrounds/8.png');
  animation-duration: 25s;
}

/* Scrolling animation */
@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

@keyframes end {
  0%,
  100% {
    box-shadow: 0 0 10px 0px orange;
  }
  50% {
    box-shadow: 0 0 15px 5px orange;
  }
}
