body {
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    margin-right: 5%;
}

#charactersBackground{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #charactersBackground_a{  
      height: 40%;
      width: 100%;
      background: black;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .charactersBackground_aa {
    width: 40%;
    height: 80%;
    border-radius: 15px;
    background: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#charactersBackground_aa1 {
 }

 #charactersBackground_aa2 {
    display: none;
 }

 #charactersBackground_aa2a {
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px;
}

 #charactersBackground_aa2b {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .charactersBackground_aa2ba {
    height: 33.33%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .charactersBackground_aa2baa {
    height: 65%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: blue;
    margin-left: 10px;
 }

 .charactersBackground_aa2bab {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

  #charactersBackground_aaa {
    height: 80%;
    width: 80%;
    background: green;
    border-radius: 15px;
      
  }

  #charactersBackground_aab {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #charactersBackground_b{
    height: 10%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: flex-end;      
  }

  #charactersBackground_c{
    height: 60%;
    width: 100%;
    background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #charactersBackground_ca{
    height: 70%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #charactersBackground_caa{
    height: 70%;
    width: 40%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #charactersBackground_caa img{
      height: 90%;
      width: auto;
  }

  #charactersBackground_cb{
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;

  }
  
  #charactersBackground_cba {
    height: 70%;
    width: 70%;
    background: grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #charactersBackground_cbaa {
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: rgb(44, 44, 92);
    margin-left: 20px;
  }

  #charactersBackground_cbab {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: large;
  }


  #charactersBackground_cbb {
    height: 70%;
    width: 10%;
    background: orange;
    border-radius: 10px;
  }


@media screen and (min-width: 1200px) {
    #charactersBackground_aa2 {
        display: flex;
    }

}
