html, * {
    margin: 0;
    padding: 0;
}

#backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#choiceContainer {
    position: absolute;
    bottom: 0;
    height: 15vh;
    width: 40vw;
    z-index: 2;
    left: 33vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choiceCircle {
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: grey;
}

#hero_container {
    height: 33vh;
    width: auto;
    position: absolute;
    left: 45vw;
    top: 49vh;
    z-index: 3;
}

#heroImg {
    height: 100%;
    width: auto;
}