html {
  background: rgb(15, 15, 15);
  margin: 0;
  padding: 0;
}
/*
body {
  font-family: Arial, sans-serif;
  color: #fffbfb;
  line-height: 1.6;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
*/
h1, h2, h3 {
  color: #ffcc00;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
}
ul {
  margin-left: 20px;
  margin-bottom: 15px;
}
li {
  margin-bottom: 8px;
}

.characterImg {
  height: 100%;
  width: auto;
}

#background {
  height: 100%;
  width: 100%;
}

#background img {
  height: 100%;
  width: 100%;
}

/*

#hero_container {
  position: absolute;
  left: 8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 7.5vh;
  width: 10vw;
  top: 85vh;
}

*/

#master_container {
 position: absolute;
 left: 85vw;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 height: 10vh;
 width: 10vw;
 top: 88vh;
}

#interface_container{
  font-family: Arial, sans-serif;
  color: #fffbfb;
  line-height: 1.6;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 2.5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  display: flex;
  border: solid 1px;
  border-radius: 15px;
  background-color:rgba(0, 0, 0, 0.7);
  overflow: overlay;
  display: none;
  z-index: 5000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 15px;
}


#interface_container_a {
  width: 0%;
  height: 100%;
}

#interface_container_b {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#challenge_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(181, 177, 177);
}

#course_container {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

#course_container_a {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

#course_container_b {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#challenge_container_a {
  width: 100%;
  height: 30%;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#challenge_container_b {
  width: 100%;
  height: 70%;
  overflow: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#grade_container {
  width: 20%;
  height: 20%;
  color: rgb(221, 216, 171);    
  display: flex;
  justify-content: center;
  align-items: center;
}

#actionsButtonsContainer {
  position: fixed;
  top: 80vh;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

#actionsButtonsContainer button {
  background: grey;
}

#challenge_info_container {
  width: 40%;
  height: 20%;
  color: rgb(221, 216, 171);    
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.knowledge_block {
height: 200px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
margin-bottom: 50px;
}

.knowledge_block_a {
  width : 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

.knowledge_block_b {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knowledge_block_ba {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.courseImg {
  width: 70%;
  height: auto;
}