#mapImage {
    height: 90vh;
    width: 80vw;
    position: absolute;
    left: 10vw;
    margin: auto;
    top:0;
}

#tarkPoint {
    position: absolute;
    left: 10%;
    top: 10%;
    background: blue;
    z-index: 2;
    height: 10vh;
    width: 10vw;
    cursor: pointer;
}

#backButton {
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 40%;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    font-size: medium;
    cursor: pointer;
}
