html {
    background-color: #212121;
}


@font-face {
  font-family: 'CustomFont'; /* Nom de la police */
  src: url('../fonts/Enchanted\ Land.otf') format('opentype'); /* Chemin du fichier .otf */
  font-weight: normal;
  font-style: normal;
}

#background_image {
  height: 100vh;
  width: 100vw;
}


body {
    background-color: #212121;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    overflow: hidden;
    font-family: "CustomFont", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-track {
  }
  
  h1, h2, h3 {
    color: #2aced7;
    font-size: xx-large;
  }
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 15px;
    padding: 30px;
    font-size: 25px;
  }
  ul {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: xx-large;
  }
  li {
    margin-bottom: 8px;
    font-size: xx-large;

  }

.characterImg {
    height: 100%;
    width: auto;
}

#hero_container {
    position: absolute;
    left: 15vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 7.5vh;
    width: 10vw;
    top: 85vh;
}

#map_container {
  position: absolute;
   top: 88.5%;
   left: 2.5%;
   z-index: 1010;
   width: 10%;
   height: 10%;
   display: none;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
}

#location_description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#location_logo_container {
   width: 40%;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: 2px solid rgba(0, 200, 255, 0.39);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4d4c4c52;
  }

#learning_god_container {
  position: absolute;
  right: -15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 10vw;
  top: 12vh;
}

#learning_god_container img {
  height: 100%;
  width: auto;
}

#interface_container{
    position: absolute;
    top: 2.5vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    display: flex;
    border: solid 1px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transition sur l'opacité, durée de 1 seconde */
    border: 1px solid #fff;
    padding: 9px 7px;
    box-shadow: 0 0 10px #aaaaaae8;
    background: #00000069;
}

#interface_container_a {
    width: 0%;
    height: 100%;
}

#interface_container_b {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#challenge_container {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    color: rgb(181, 177, 177);
}

#course_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#course_container_a {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: large;
    font-weight: bold;
    background: #80808078;
    border-radius: 15px;
}

#course_container_aa {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
}

.course_container_ab {
  position: relative;
  height: 90%;
  width: 100%;
}

#course_container_ab_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

#course_container_ab_back_right_button {
  position: absolute;
  top: 45%;
  right: 0;
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#course_container_ab_back_left_button {
  position: absolute;
  top: 45%;
  left: 0;
  height: 10%;
  width: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.course_container_aba {
  margin-top: 20px;
  height: 10vh;
  width: 80%;
  background: grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}


#course_container_b {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#challenge_container_a {
    width: 100%;
    height: 30%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#challenge_container_b {
    width: 100%;
    height: 70%;
    overflow: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#grade_container {
    width: 20%;
    height: 20%;
    background: rgb(41, 38, 38);
    color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}


#challenge_info_container {
    width: 30%;
    height: 20%;
    background: rgb(41, 38, 38);
    color: chartreuse;    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge_block {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.knowledge_block_a {
    width : 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.knowledge_block_b {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.knowledge_block_ba {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.courseImg {
    width: 70%;
    height: auto;
}