* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background: #257ec1;*/
  background: black;
}



/*
CINEMATIC 1
*/


.mapBlock{
  height: 100vh;
  width: 90vw;
}

.cinematicMapBlock{
  height: 90vh;
  width: 90vw;
  top: 11vh;
}



/*
CINEMATIC 2
*/
/*

.mapBlock {
  height: 100vh;
  width: 100vw;
}

.cinematicMapBlock {
  top: 18.55vh;
  height: 74vh;
  width: 70vw;
}
  */


.mapBlock img {
   height: 85%;
   width: 100%;
}
