* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background: #257ec1;*/
  background: black;
}

/*
CINEMATIC 1
.mapBlock{
  height: 65vh;
  width: 65vw;
  bottom: 17.5vh;
}

.cinematicMapBlock{
  height: 65vh;
  width: 65vw;
  bottom: 17.5vh;
}

*/


/*
CINEMATIC 2
*/

/*

  .mapBlock{
    height: 76vh;
    width: 76vw;
    bottom: 12vh;
  }
  
  .cinematicMapBlock{
    height: 76vh;
    width: 76vw;
    bottom: 12vh;
  }

  */

  .mapBlock{
    height: 85vh;
    width: 100vw;
    bottom: 15vh;
 }
  
 .cinematicMapBlock{
  height: 85vh;
  width: 100vw;
  bottom: 15vh;
 }


.mapBlock img {
   height: 100%;
   width: 100%;
}
