.challengePoint {
   margin-top: 250px;
}

.top_course_container {
    height: 40vh;
    width: 30vw;
    border-radius: 15px;
    background: rgb(92, 92, 92);
    margin-left: 7.5vw;
    margin-top: 100px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.top_course_container_a {
    height: 20%;
    width: 70%;
    background: rgb(0, 102, 128);
    justify-content: space-around;
    align-items: center;
}

.mapBackground_aaa img {
    height: 100%;
    width: auto;
}
