html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#top_map_container {
    height: 400px;
    width: 550px;
    background: red;
    position: absolute;
    top: 50px;
    right: 80px;
    border-radius: 15px;
    background: url("../assets/challenge/items/ice.webp");
    background-size: cover;
}

#mapBackground {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 90vh;
    width: 60vw;
    overflow: auto;
    padding-bottom: 100px;
    margin-top: 500px;
}

.mapBackground_a {
    height: 20vh;
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.mapBackground_aa {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapBackground_aaa {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.mapBackground_aa1 {
}

.mapBackground_aa2 {
    background: green;
    border-radius: 15px;
}

.mapBackground_ab {
    height: 20vh;
    width: 100%;
    background: purple;
    display: flex;
}



