html, * {
    margin: 0;
    width: 0;
}


#game_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game_container_a {
    height: 20%;
    width: 70%;
    background: rgb(121, 121, 149);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.game_container_aa {
    height: 20%;
    width: 100%;
    background: rgb(121, 121, 149);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.game_container_aaa {
    margin-left: 10%;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_container_ab {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.game_container_aba {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game_container_aba1 {
    width: 30%;
}

.game_container_aba2 {
    width: 60%;    
}

.game_container_abaa1_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
    border-radius: 20px;
    border: none;
}

.game_container_ab {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}