html {
    overflow: scroll;
    overflow-x: hidden;
    background: black;
    color: white;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#backButton {
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 40%;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    font-size: medium;
    cursor: pointer;
}

#top_map_container {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top_map_container_a {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease, visibility 2s ease; /* Animate opacity over 1 second */
    color: white;
}

#ice {
    height: 100%;
    width: auto;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 3s ease, visibility 3s ease; /* Animate opacity over 1 second */
}

#mapBackground {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 90vh;
    width: 60vw;
    overflow: auto;
    padding-bottom: 100px;
    margin-top: 500px;
}

.mapBackground_a {
    height: 20vh;
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.mapBackground_aa {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapBackground_aaa {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.mapBackground_aa1 {
}

.mapBackground_aa2 {
    background: green;
    border-radius: 15px;
}

.mapBackground_ab {
    height: 20vh;
    width: 100%;
    background: purple;
    display: flex;
}



